@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">Counter</h1>

<p>Current count: @currentCount</p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" @onclick="IncrementCount">
    Click me
</button>

<div class="text-4xl font-bold underline">
    Welcome to your new Tailwind CSS styled Blazor app.
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
