@page "/"

<PageTitle>Home</PageTitle>

<h1 class="mb-4 text-3xl font-bold leading-none tracking-tight text-gray-900 dark:text-white">Hello, world!</h1>

<div class="text-3xl font-bold underline">
    Welcome to your new Tailwind CSS styled Blazor app.
</div>